{% extends 'base.html.twig' %}

{% block title %}Bibliotech — Accueil{% endblock %}

{% block body %}
<div style="text-align: center; margin-top: 100px; font-family: sans-serif;">
    <h1>📚 Bienvenue sur Bibliotech !</h1>
    <p>L'application de gestion de ta bibliothèque préférée.</p>
</div>



{% endblock %}