<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bibliotech{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
      
        {{ include ('_partials/_header.html.twig') }}
        <main style="padding: 30px; max-width: 960px; margin: 0 auto;">
            {% block body %}{% endblock %}
        </main>

        {{ include ('_partials/_footer.html.twig') }}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>